.single-recipe{
  border: 3px solid black;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
td,th{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}
table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
button{
  margin: 2px;
}
.search-form button{
  width: 50%;
}

.recipe-search{
  border-right: 2px solid lightgray;
  background-color: rgba(232, 230, 223,.3) ;
}
