.single-recipe{
  border: 2px;
  border-style:double;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
td,th{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}
table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
button{
  margin: 2px;
}
.search-button{
  margin: 0px;
}
.search-form{
  padding: 10px;
}
#recipe-nav{
  background-color: lavenderblush;
}
.recipe-nav-content:hover{
  text-decoration: underline;
}
#search-form-header{
  margin:5px;
}
#contributions-section{
  padding: 10px;
  text-align: center;
  margin: 10 px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
}
#addSection{
  margin: 10px;
}
.recipe-text{
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap:normal;
  overflow:visible;
  white-space:pre-wrap;
}
