<main class="container-fluid">
  <div class="row"  >
    <div class="row" >
      <div>

      </div>
    </div>
    <div class="col-sm-2">
      <div class="row">
        <div class="row  text-center justify-content-center" id="forum-navigation" >
          <h6>Search by topic:</h6>
          <div class="input-group mb3">
            <input type="text" class="form-control" placeholder="Topic" name="topic" [(ngModel)]="topic" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="getForumsByTopic(topic)" id="basic-addon2">Search</button>
            </div>
          </div>
        </div>

      </div>
      <div class="row">


      </div>
      <div class="row" id="add-space">
        <img src="https://farm8.staticflickr.com/7037/6802898136_932e900b5e_z.jpg"
        style=" width:100%" />

      </div>
      <div class="row " id="start-new-post">
        <button class="btn btn-outline-primary" (click)="startCreatePost()" >Create Post</button>
      </div>
    </div>
    <div class="col-sm-10" id="main">
      <!-- **************************************** Post List ***************************** -->
      <div id="post-list" *ngIf="!displayForum && !creatingPost">

        <div class="row single-post" *ngFor="let post of forums" (click)="display(post)" >
          <div class="col-sm-1 post-info-preview">
            <p>{{post.topic}}</p><br>
            <p>{{post.user?.username}}</p>
          </div>
          <div class="col-sm-11">
            <p class="post-content-preview">{{post.content}}</p>
          </div>
        </div>
        </div>

        <!-- ****************************************** Create Post ************************************** -->
        <div class="row" id="create-post-section justify-content-center " *ngIf="creatingPost" >
          <div class="col-sm-12">
            <span *ngIf="!responding">
              <label for="topic">Topic:</label>
              <input class="form-control" type="text" name="topic" [(ngModel)]="newPost.topic">
            </span>
            <span *ngIf="responding && displayForum">
              <label for="topic">Topic:</label>
              <input class="form-control" disabled type="text" name="topic" [(ngModel)]="displayForum.topic">
            </span>
            <textarea name="content" id="" cols="80%" rows="10" placeholder="Your post here" [(ngModel)]="newPost.content" ></textarea><br>
            <button class="btn btn-outline-primary btn-sm" (click)="createForum(newPost)" >Post</button>
            <button class="btn btn-outline-primary btn-sm" (click)="cancelCreatePost()" >Cancel</button>
            <hr>
          </div>
        </div>
        <!-- ****************************************** Edit Post ************************************** -->
        <div class="row" id="edit-post-section" *ngIf="editPost && editing" >
          <div class="col-sm-12">
            <textarea name="content" id="" cols="80" rows="10" placeholder="Your post here" [(ngModel)]="editPost.content" ></textarea><br>
            <button class="btn btn-outline-primary btn-sm" (click)="editForum(editPost)" >Confirm</button>
            <button class="btn btn-outline-primary btn-sm" (click)="cancelEditPost()" >Cancel</button>
            <hr>
          </div>
        </div>
        <!-- ********************************************* Display Post ******************************* -->
        <div class="row" id="display-post" *ngIf="displayForum && !editing" >
          <div class="col-sm-12" >
            <p>{{displayForum.user?.username}}</p><br>
            <p>{{displayForum.content}}</p>
            <button class="btn btn-outline-primary btn-sm" (click)="cancelDisplay()" >Back</button>
            <button class="btn btn-outline-primary btn-sm" (click)="startReply(displayForum)" >Reply</button>
            <span *ngIf="displayForum.user?.id == loggedInUser?.id" >
              <button class="btn btn-outline-warning btn-sm" (click)="startEditPost(displayForum)" >Edit</button>
              <button class="btn btn-outline-danger btn-sm" (click)="deleteForum(displayForum.id)" >Delete</button>
            </span>
            <hr>
            <!-- Responses -->
            <div class="row post-response" *ngFor="let response of displayForumResponses" >
              <div class="col-sm-2" ></div>
              <div class="col-sm-8">
                <hr>
                <p>{{response.user?.username}}</p><br>
                <p>{{response.content}}</p>
                <button class="btn btn-outline-primary btn-sm" (click)="display(response)" >View Replies</button>
                <button class="btn btn-outline-primary btn-sm" (click)="startReply(response)" >Reply</button>
                <hr>
              </div>
              <div class="col-sm-2" ></div>
            </div>
            <!-- Responses End -->
          </div>
        </div>
      </div>


  </div>

  <div class="row">

  </div>


</main>
