<main class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="top-left  display-blog-info"  >
        <h3>{{displayBlog?.title}}</h3>
        <h3>By: <span *ngIf="!displayBlog?.user?.publicProfile">{{displayBlog?.user?.username}}</span ><span *ngIf="displayBlog?.user?.publicProfile" >{{displayBlog?.user?.firstName}} {{displayBlog?.user?.lastName}}</span></h3>
        <h4>Covered Topics:</h4>
        <ul>
          <li (click)="searchByTopic(topic)" *ngFor="let topic of displayBlog?.topics" > {{topic.name}}</li>
        </ul>
          </div>

      </div>
      <div class="row">
        <h3>Blog seach options</h3>

        <form>
          <button class="col  btn btn-outline-primary"(click)="searchByTopic(searchTopic)">Topic Search</button>
          <select name="topic" [(ngModel)]="searchTopic">
            <option *ngFor="let topic of topics" [ngValue]="topic">{{topic.name}}</option>
          </select><br>

          <input name="author" type="search" class="form-control rounded" [(ngModel)]="author" placeholder="Search By Author" aria-label="Search" aria-describedby="search-addon" />
         <button type="button" class="btn btn-outline-primary" (click)="searchByAuthor(author)" >Author Search</button>




          <!-- <button class="col form-control btn btn-info" (click)="searchByAuthor(author)">Author Search:</button><br> -->
          <!-- <input class="col form-control" type="text" name="author" [(ngModel)]="author" placeholder="Ex: Geralt of Rivia"> -->
          <button id="create-btn-blog" type="button" class="btn btn-primary" (click)="startCreateBlog()" >Create Blog</button>
        </form>
      </div>
      <div class="row">
        <p (click)="selectBlog(blog)" *ngFor="let blog of blogs">{{blog.title}}</p>
      </div>
    </div>




    <div class="col-sm-8">

      <div *ngIf="!creatingBlog" class="display-blog"  >
        <p  *ngIf="loggedInUser?.id == displayBlog?.user?.id"  ><button *ngIf="displayBlog" class="btn btn-primary"(click)="startEditBlog(displayBlog)" >Edit</button>
          <button *ngIf="displayBlog" class="btn btn-danger"(click)="deleteBlog(displayBlog.id)"  >Delete</button>
          </p>
        <p>{{displayBlog?.content}}</p>
      </div>


      <div *ngIf="editingBlog">
        <form>
          <label for="title">Blog Title</label>
          <input class="col form-control" type ="text" name="title" [(ngModel)]="blogUnderEdit.title" ><br>
          <label for="content">Content</label>
          <textarea class="col form-control" name="content" [(ngModel)]="blogUnderEdit.content">Blog Content</textarea><br>
          <label for="imageLink">Image URL</label>
          <input class="col form-control" type ="text" name="imageLink" [(ngModel)]="blogUnderEdit.imageLink" ><br>
          <select name="newBlogTopic" [(ngModel)]="newBlogTopic">
              <option *ngFor="let topic of topics" [ngValue]="topic" > {{topic.name}}</option>
          </select>
          <button class="btn btn-primary" (click)="addTopic(newBlogTopic)">Add topic</button><br>
          <label>Custom Topic</label>
          <label>Name:</label><input class="col form-control" type="text" name="name" [(ngModel)]="newTopic.name" >
          <label>Description:</label><input class="col form-control" type="text" name="description" [(ngModel)]="newTopic.description" >
          <button class="btn btn-primary" (click)="createTopic(newTopic)">Add topic</button>
          <p *ngFor="let topic of newBlogTopics">{{topic.name}}</p>
        </form>

        <button class="btn btn-primary" (click)="updateBlog(blogUnderEdit)" >Submit</button>
        <button class="btn btn-danger" (click)="cancelEditBlog()">Cancel</button>
      </div>


      <div *ngIf="creatingBlog">
        <form>
          <label for="title">Blog Title</label>
          <input class="col form-control" type ="text" name="title" [(ngModel)]="newBlog.title"><br>
          <label for="content">Content</label>
          <textarea class="col form-control" name="content" [(ngModel)]="newBlog.content">Blog Content</textarea><br>
          <label for="imageLink">Image URL</label>
          <input class="col form-control" type ="text" name="imageLink" [(ngModel)]="newBlog.imageLink"><br>
          <select name="newBlogTopic" [(ngModel)]="newBlogTopic">
            <option *ngFor="let topic of topics" [ngValue]="topic" > {{topic.name}}</option>
          </select><br>
          <button class="btn btn-primary" (click)="addTopic(newBlogTopic)">Add topic</button><br>
          <label>Custom Topic</label>
          <label>Name:</label><input class="col form-control" type="text" name="name" [(ngModel)]="newTopic.name" ><br>
          <label>Description:</label><input class="col form-control" type="text" name="description" [(ngModel)]="newTopic.description" ><br>
          <button class="btn btn-primary" (click)="createTopic(newTopic)">Add topic</button><br>
          <p *ngFor="let topic of newBlogTopics">{{topic.name}}</p>
        </form>

        <button class="btn btn-primary" (click)="createBlog(newBlog)" >Submit</button>
        <button class="btn btn-danger" (click)="cancelCreateBlog()">Cancel</button>
      </div>
    </div>
  </div>





    <div id="commentDisplay" *ngIf="!editingComment">
      <div *ngFor="let comment of comments" class=" row">
        <div class="col-sm-4 " ></div>
        <div class="col-sm-8">
          <div class="row comment-row ">
            <div class="col-sm-2 comment">{{comment.user?.username}}<br></div>
            <div class="col-sm-8 comment">{{comment.content}} <br>
            </div>
            <div class="col-sm-2 comment" >
              <p  *ngIf="loggedInUser?.id == comment.user?.id" ><button class="" (click)="showEditComment(comment)" >Edit</button><br>
                <button class="" (click)="deleteComment(comment.id)" >Delete</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="editingComment" *ngIf="editingComment" class="row" >
    <div class="col-sm-4" > </div>
    <div class="col-sm-8 "  >
      <div class="row">
        <div class="col-sm-12 editComment">
          <textarea cols="60" rows="5" name="content" [(ngModel)]="commentUnderEdit.content"></textarea><br>
          <p><button class="btn btn-primary" (click)="cancelEditComment()" >Cancel</button>
          <button class="btn btn-primary" (click)="editComment(commentUnderEdit)" >Submit Updated Comment</button></p>
        </div>

      </div>
    </div>
    </div>

    <div id="addComment" class="row" >
      <div class="col-sm-4" ></div>
      <div class="col-sm-8" >

        <textarea name="content" cols="60" rows="5" placeholder="Comment on the blog" [(ngModel)]="newComment.content"></textarea><br>
        <button class="btn btn-primary" (click)="createComment(newComment)" >Submit</button>
      </div>
    </div>


  <div class="row">

  </div>


</main>
