.col-sm-4{
  border-right: 1px solid gray;
}

.display-blog{
  padding:10px
}
.display-blog-info{
  padding: 5px;
  background-color: rgba(232, 230, 223,.2) ;

}

.comment{
  text-align: center;
  background-color: rgba(232, 230, 223,.45);
  border-top: white;

}

.editComment{
  text-align: center;
  padding: 10px;
  background-color: rgba(232, 230, 223,.45);
  border-top: white;
  margin: 5px;
}

.comment-row{
 padding: 5px;
 margin: 5px;
}

button{
  margin: 5px;
}

#addComment{
  text-align: center;
}


.submit-button{
  align-content:center
}
/* #commentDisplay{
  text-align: center;
} */

#create-btn-blog{
  height: 38px;
  width: 129.53px;
}
