.col-sm-4{
  border-right: 2px solid lightgray;
  background-color: rgba(232, 230, 223,.3) ;
}
input{
  width: 40%;
}


.display-blog{
  padding:10px
}
.display-blog-info{
  padding: 5px;
  border-bottom: 2px lightgray solid;

}

.comment{
  text-align: center;
  background-color: rgba(232, 230, 223,.45);
  border-top: white;

}

.editComment{
  text-align: center;
  padding: 10px;
  background-color: rgba(232, 230, 223,.45);
  border-top: white;
  margin: 5px;
}

.comment-row{
 padding: 5px;
 margin: 5px;
}

button{
  margin: 5px;
}

#addComment{
  text-align: center;
}


.submit-button{
  align-content:center
}
/* #commentDisplay{
  text-align: center;
} */

#create-btn-blog{
  height: 38px;
  width: 129.53px;
}

.search-options{
  border-bottom: 2px lightgrey solid;
  padding: 5px;
}

#filter-option{
  margin-left: 6px;
}
