.top-left{
  border-style: solid;
}

.comment{
  text-align: center;
  background-color: rgba(232, 230, 223,.45);
  border: white

}

.editComment{
  text-align: center;
  padding: 10px;
  background-color: rgba(232, 230, 223,.45);
  border: white;
}

.comment-row{
  margin: 5px;
}

button{
  margin: 5px;
}

#addComment{
  text-align: center;
}

#editingComment{
  text-align: center;
}

.submit-button{
  align-content:center
}
/* #commentDisplay{
  text-align: center;
} */
