td{
  border: 1px solid black;
}
th{
  border: 1px solid black;
}
table {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;

}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.recipe-text{
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap:normal;
  overflow:visible;
  white-space:pre-wrap;
}
