<main class="container-fluid">
  <div class="row">
    <div class="col-sm-4 user-info">
      <div class="row">
        <h3>Username: {{loggedInUser?.username}}</h3>

      </div>
      <div class="row">
        <img *ngIf="loggedInUser?.imageUrl" src="{{loggedInUser?.imageUrl}}">
        <img *ngIf="!loggedInUser?.imageUrl" src="https://farm8.staticflickr.com/7037/6802898136_932e900b5e_z.jpg"
        style="height:250px; width:350px" />


      </div>
      <div class="row">

        <h5>Email: {{loggedInUser?.email}}</h5>
        <h5>Full Name: {{loggedInUser?.firstName}} {{loggedInUser?.lastName}}</h5>
        <div class="row">
          <h5>Height: {{loggedInUser?.height}}" <br> Weight: {{loggedInUser?.weight}}lbs <br>Age: {{age}} <br> BMR: {{calculateMetabolicRate()}} Calories  <br> AMR: {{amr}} Calories
          </h5>
        </div>

      </div>
      <div class="row">
        <h3>Your Goals: </h3>
        <ul>
          <li *ngFor="let goal of notAchievedGoals"><span >{{goal.name}}
            <ul>
              <li>{{goal.description}}</li>
              <li>Goal Weight: {{goal.weight}} lbs</li>
              <li><h6 class="btn btn-outline-success btn-sm" (click)="achieveGoal(goal)">Achieve!</h6></li>
            </ul>
          </span>
          </li>
        </ul>
        <h3>Your Achievements: </h3>
        <ul>
          <li *ngFor="let goal of achievedGoals"><span >{{goal.name}}
            <ul>
              <li>{{goal.description}}</li>
              <li>{{goal.dateAchieved}}</li>
              <li><button class="btn btn-outline-danger btn-sm" (click)="deleteGoal(goal.id)">Delete</button></li>
            </ul>
          </span>
          </li>
        </ul>
      </div>
      <div id="newGoal">
        <h3>Create New Goal:</h3>
        <label>Name </label><input class="col form-control" type="text" name="name" [(ngModel)]="newGoal.name"><br>
        <label>Description </label><input class="col form-control" type="text" name="description" [(ngModel)]="newGoal.description"><br>
        <label>I want to change my weight</label><input type="checkbox" name="changeWeight" [(ngModel)]="changeWeight"><br>
        <span *ngIf="changeWeight" ><label>Goal Weight</label><input type="number" name="changeWeight" [(ngModel)]="newGoal.weight" min="0" max="999"><br></span>

        <button class="btn btn-primary btn-sm" (click)="createNewGoal(newGoal)" >Add Goal</button>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="row text-center justify-content-center">
        <h3>
        <button class="btn btn-outline-secondary btn-lg" (click)="showTracker()">Nutrition Tracker</button>
        <button class="btn btn-outline-secondary btn-lg" (click)="showAddMeal()">Add Meal</button>
        <button class="btn btn-outline-secondary btn-lg" (click)="viewRecipes()" >View Recipes</button>
        <button class="btn btn-outline-secondary btn-lg" (click)="showEdit()" >Update Info</button>
        </h3>
      </div>
      <div class="tracker">
        <div id="addMeal" *ngIf="showingAddMeal" >


          <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                      <table class="table"  >
                        <thead>
                          <tr>
                            <td>
                              <button class="btn btn-outline-primary" (click)="addMeal(newMeal)" >Add Meal</button>
                            </td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Meal Type: </td>
                            <td>
                              <select name="mealType" [(ngModel)]="newMeal.mealType">
                                <option *ngFor="let item of mealTypes" [ngValue]="item">{{item.name}}</option>
                              </select>
                            </td>
                            <td>
                              Manually enter Nutrients:
                            </td>
                          </tr>
                          <tr>
                            <td>Calories</td>
                            <td>{{mealNutrients.calories}}</td>
                            <td><input type="number" min="0" max="10000" name="calories" [(ngModel)]="mealNutrients.calories"></td>
                          </tr>
                          <tr>
                            <td>Carbs</td>
                            <td>{{mealNutrients.carbs}}</td>
                            <td><input type="number"  min="0" max="10000" name="carbs" [(ngModel)]="mealNutrients.carbs"></td>
                          </tr>
                          <tr>
                            <td>Protein</td>
                            <td>{{mealNutrients.protein}}</td>
                            <td><input type="number"   min="0" max="10000" name="protein" [(ngModel)]="mealNutrients.protein"></td>
                          </tr>
                          <tr>
                            <td>Fats</td>
                            <td>{{mealNutrients.fats}}</td>
                            <td><input type="number"  min="0" max="10000"  name="fats" [(ngModel)]="mealNutrients.fats"></td>
                          </tr>
                          <tr>
                            <td>Sugar</td>
                            <td>{{mealNutrients.sugar}}</td>
                            <td><input type="number" min="0" max="10000" name="sugar" [(ngModel)]="mealNutrients.sugar"></td>
                          </tr>
                          <tr>
                            <td>Chol</td>
                            <td>{{mealNutrients.cholesterol}}</td>
                            <td><input type="number"  min="0" max="10000" name="cholesterol" [(ngModel)]="mealNutrients.cholesterol"></td>

                          </tr>
                          <tr>
                            <td>Sodium </td>
                            <td>{{mealNutrients.sodium}}</td>
                            <td><input type="number"  min="0" max="10000" name="sodium" [(ngModel)]="mealNutrients.sodium"></td>
                          </tr>
                          <tr>
                            <td>
                              <form>
                                <label>Search Foods: </label><input (keypress)="search(searchQuery)"  type="text" name="name" [(ngModel)]="searchQuery">
                              </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
          </div>


<!-- ********************************************************************************************** -->

            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body" *ngFor="let result of searchResults" class="table"  >
                      <h4>{{result.description}}</h4>
                      <p>Serving size: {{result.servingSize}} {{result.servingSizeUnit}}</p>
                      <input type="number" min="0" max="10000" name="amount" [(ngModel)]="selectedIngredient.amount" >
                      [g/oz/ Number of Servings if Serving Size is empty]<button class="btn btn-outline-primary btn-sm"(click)="addFoodToMealOrRecipe(result)" >Add</button>
                      <table>
                        <thead>
                          <tr>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of result.foodNutrients" >
                            <td>{{item.nutrientName}}</td>
                            <td>{{item.value}} {{item.unitName}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
          </div>



<!-- ********************************************************************************************** -->


        </div>

        <div  *ngIf="showingTracker">
          <div *ngFor="let day of trackedDays" class="row"  >
            <button class="btn btn-outline-secondary btn-lg" (click)="showDayDetails(day)" >{{day.day.toString().substring(0,10)}}  </button>
            <div id="dayDetails" *ngIf="displayDay == day"  >
              <table>
                <thead>
                  <tr>
                     <th>Meal</th>
                     <th>Calories</th>
                     <th>Carbs</th>
                     <th>Protein</th>
                     <th>Fat</th>
                     <th>Sugar</th>
                     <th>Sodium</th>
                     <th>Chol</th>
                     <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let meal of displayDay.meals" >
                    <td>{{meal.mealType?.name}}</td>
                    <td>{{meal.nutrients?.calories}}</td>
                    <td>{{meal.nutrients?.carbs}}</td>
                    <td>{{meal.nutrients?.protein}}</td>
                    <td>{{meal.nutrients?.fats}}</td>
                    <td>{{meal.nutrients?.sugar}}</td>
                    <td>{{meal.nutrients?.sodium}}</td>
                    <td>{{meal.nutrients?.cholesterol}}</td>
                    <td> <button class="btn btn-outline-danger btn-sm" (click)="removeMeal(meal)" >X</button></td>
                  </tr>
                  <tr>
                    <td><strong>Daily Total</strong></td>
                    <td >{{dailyNutrients.calories}}</td>
                    <td>{{dailyNutrients.carbs}}</td>
                    <td>{{dailyNutrients.protein}}</td>
                    <td>{{dailyNutrients.fats}}</td>
                    <td>{{dailyNutrients.sugar}}</td>
                    <td>{{dailyNutrients.sodium}}</td>
                    <td>{{dailyNutrients.cholesterol}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
      <div class="editUser" *ngIf="editing && editUser">
        <form name="login">
          <label for="firstName">First Name</label>
          <input class="col form-control" type="text" name="firstName" [(ngModel)]="editUser.firstName" placeholder="First Name" /><br>
          <label for="lastName">Last Name</label>
          <input class="col form-control" type="text" name="lastName" [(ngModel)]="editUser.lastName" placeholder="Last Name"/><br>
          <label for="email">Email Address</label>
          <input class="col form-control" type="text" name="email" [(ngModel)]="editUser.email" placeholder="Email Address"/><br>
          <label for="imageUrl">Profile picture url</label>
          <input class="col form-control" type="text" name="imageUrl" [(ngModel)]="editUser.imageUrl" placeholder="Image Url"/><br>
          <label for="height">Height in Inches</label>
          <input class="col form-control" type="number" name="height" [(ngModel)]="editUser.height" placeholder="Height in Inches"/><br>
          <label for="weight">Weight in lbs</label>
          <input class="col form-control" type="number" name="weight" [(ngModel)]="editUser.weight" placeholder="Weight in lbs" /><br>
          <label for="dateOfBirth">Date of Birth</label>
          <input class="col form-control" type="datetime-local" name="dateOfBirth" [(ngModel)]="editUser.dateOfBirth" /><br>
          <label for="gender">Gender</label>
          <select name="gender" [(ngModel)]="editUser.gender">
            <option *ngFor="let gender of genders" [ngValue]="gender">{{gender.name}}</option>
          </select><br>
          <label>How would you describe your activity level right now?</label>
          <select name="activityLevel" [(ngModel)]="editUser.activityLevel">
            <option  value="1">Sedentary (little to no exercise, desk job)</option>
            <option  value="2">Light Activity (light exercise/sports 1-3 days/week)</option>
            <option  value="3">Moderate Activity (moderate exercise/ sports 6-7 days/week)</option>
            <option  value="4">Very Active (hard exercise every day, or exercising twice/day)</option>
            <option  value="5">Extra Active (hard exercise 2 or more times per day)</option>
          </select><br>
          <label>Make profile public? (Other users will see your real name for blog posts and recipes that you create)</label>
          <input type="checkbox" name="publicProfile" [(ngModel)]="editUser.publicProfile"/><br>
          <button class="btn btn-outline-primary" (click)="updateUser(editUser)">Update</button><button class="btn btn-outline-primary" (click)="cancelEdit()">Cancel</button>
        </form>
      </div>

      <div id="recipes" *ngIf="showingRecipes">
        <h4>Your Favorited Recipes: </h4>
        <ul>
          <li  (click)="showRecipe(recipe)" *ngFor="let recipe of loggedInUser?.recipes">{{recipe.name}} : {{recipe.timeRequired}} mins</li>
        </ul>
        <div *ngIf="selectedRecipe" >
            <h3>{{selectedRecipe.name}}</h3>
            <pre class="recipe-text">{{selectedRecipe.recipeText}}</pre>

        </div>
      </div>


    </div>


  </div>

  <div class="row">

  </div>


</main>
