<main class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h3>{{loggedInUser?.username}}</h3>

      </div>
      <div class="row">
        <img *ngIf="loggedInUser?.imageUrl" src="{{loggedInUser?.imageUrl}}">
        <img *ngIf="!loggedInUser?.imageUrl" src="https://farm8.staticflickr.com/7037/6802898136_932e900b5e_z.jpg"
        style="height:250px; width:350px" />


      </div>
      <div class="row">

        <h5>{{loggedInUser?.email}}</h5>
        <h5>{{loggedInUser?.firstName}} {{loggedInUser?.lastName}}</h5>

      </div>
      <div class="row">
        <h3>Your Goals: </h3>
        <ul>
          <li *ngFor="let goal of loggedInUser?.goals"><span *ngIf="!goal.achieved">{{goal.name}}
            <ul>
              <li>{{goal.description}}</li>
              <li>{{goal.weight}}</li>
              <li><button class="bg bg-success" (click)="achieveGoal(goal)">Achieve!</button></li>
            </ul>
          </span>
          </li>
        </ul>
        <h3>Your Achievements: </h3>
        <ul>
          <li *ngFor="let goal of loggedInUser?.goals"><span *ngIf="goal.achieved">{{goal.name}}
            <ul>
              <li>{{goal.description}}</li>
              <li>{{goal.dateAchieved}}</li>
            </ul>
          </span>
          </li>
        </ul>
      </div>
      <div id="newGoal">
        <h3>Create New Goal:</h3>
        <label>Name: </label><input type="text" name="name" [(ngModel)]="newGoal.name"><br>
        <label>Description: </label><input type="text" name="description" [(ngModel)]="newGoal.description"><br>
        <button (click)="createNewGoal(newGoal)" >Add Goal</button>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="row">
        <h3>
        <button (click)="showTracker()">Nutrition Tracker</button>
        <button (click)="showAddMeal()">Add Meal</button>
        <button (click)="viewRecipes()" >View Recipes</button>
        <button (click)="showEdit()" >Update Info</button>
        </h3>
      </div>
      <div class="tracker">
        <div id="addMeal" *ngIf="showingAddMeal" >
          <form name="addMealByNutrient" *ngIf="newMeal">
            <label>Meal type: </label><select name="mealType" [(ngModel)]="newMeal.mealType">
              <option *ngFor="let mealType of mealTypes" [ngValue]="mealType" >{{mealType.name}}</option>
            </select>

            <input type="number" min="0" name="calories" [(ngModel)]="newMealNutrients.calories"
                placeholder="Calories">
            <input type="number" min="0" name="protein" [(ngModel)]="newMealNutrients.protein" placeholder="Protein">
            <input type="number" min="0" name="carbs" [(ngModel)]="newMealNutrients.carbs" placeholder="Carbs">
            <input type="number" min="0" name="fats" [(ngModel)]="newMealNutrients.fats" placeholder="Fats">
            <input type="number" min="0" name="sodium" [(ngModel)]="newMealNutrients.sodium" placeholder="Sodium">
            <input type="number" min="0" name="sugar" [(ngModel)]="newMealNutrients.sugar" placeholder="Sugar">
            <button class="submit" (click)="addMeal(newMeal)">Add a new Meal</button>

          </form>
          <form name="addMealByIngredient">
            <label>Meal type: </label><select name="mealType" [(ngModel)]="newMeal.mealType">
              <option *ngFor="let mealType of mealTypes" [ngValue]="mealType" >{{mealType.name}}</option>
            </select>
            <select name="newMealIngredient" [(ngModel)]="newIngredient">
              <option *ngFor="let ing of allIngredient" [ngValue]="ing"> {{ing.name}}</option>

            </select>
            <button (click)="addNewIngredientToMeal(newIngredient)">Add Ingredient</button>
            <p *ngFor="let ing of newMealIngredient">{{ing.name}}<button (click)="removeIngredient(ing)">X</button></p>
            <button (click)="addMeal(newMeal)">Submit</button>
          </form>

        </div>

        <div  *ngIf="showingTracker">
          <div *ngFor="let day of trackedDays" class="row"  >
            <button (click)="showDayDetails(day)" >{{day.day.toString().substring(0,10)}}  </button>
            <div id="dayDetails" *ngIf="displayDay == day"  >
              <div *ngFor="let meal of displayDay.meals">
                <button (click)="removeMeal(meal)" >X</button>
                {{meal.mealType?.name}} :

              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="editUser" *ngIf="editing && editUser">
        <form name="login">
          <label for="firstName">First Name</label>
          <input class="col form-control" type="text" name="firstName" [(ngModel)]="editUser.firstName" placeholder="First Name" /><br>
          <label for="lastName">Last Name</label>
          <input class="col form-control" type="text" name="lastName" [(ngModel)]="editUser.lastName" placeholder="Last Name"/><br>
          <label for="email">Email Address</label>
          <input class="col form-control" type="text" name="email" [(ngModel)]="editUser.email" placeholder="Email Address"/><br>
          <label for="imageUrl">Profile picture url</label>
          <input class="col form-control" type="text" name="imageUrl" [(ngModel)]="editUser.imageUrl" placeholder="Image Url"/><br>
          <label for="height">Height in Inches</label>
          <input class="col form-control" type="number" name="height" [(ngModel)]="editUser.height" placeholder="Height in Inches"/><br>
          <label for="weight">Weight in lbs</label>
          <input class="col form-control" type="number" name="weight" [(ngModel)]="editUser.weight" placeholder="Weight in lbs" /><br>
          <label for="dateOfBirth">Date of Birth</label>
          <input class="col form-control" type="datetime-local" name="dateOfBirth" [(ngModel)]="editUser.dateOfBirth" /><br>
          <label for="gender">Gender</label>
          <select name="gender" [(ngModel)]="editUser.gender">
            <option *ngFor="let gender of genders" [ngValue]="gender">{{gender.name}}</option>
          </select><br>
          <label>How would you describe your activity level right now?</label>
          <select name="activityLevel" [(ngModel)]="editUser.activityLevel">
            <option  value="1">Sedentary (little to no exercise, desk job)</option>
            <option  value="2">Light Activity (light exercise/sports 1-3 days/week)</option>
            <option  value="3">Moderate Activity (moderate exercise/ sports 6-7 days/week)</option>
            <option  value="4">Very Active (hard exercise every day, or exercising twice/day)</option>
            <option  value="5">Extra Active (hard exercise 2 or more times per day)</option>
          </select><br>
          <label>Make profile public? (Other users will see your real name for blog posts and recipes that you create)</label>
          <input type="checkbox" name="publicProfile" [(ngModel)]="editUser.publicProfile"/><br>
          <button (click)="updateUser(editUser)">Update</button><button (click)="cancelEdit()">Cancel</button>
        </form>
      </div>

      <div id="recipes" *ngIf="showingRecipes">
        <h4>Your Favorited Recipes: </h4>
        <ul>
          <li  (click)="showRecipe(recipe)" *ngFor="let recipe of loggedInUser?.recipes">{{recipe.name}} : {{recipe.timeRequired}} mins</li>
        </ul>
        <div *ngIf="selectedRecipe" >
            <h3>{{selectedRecipe.name}}</h3>
            <p>{{selectedRecipe.recipeText}}</p>

        </div>
      </div>


    </div>


  </div>
  <div class="row">
    <h5>Height: {{loggedInUser?.height}}" Weight: {{loggedInUser?.weight}}lbs Age: {{age}}  BMR: {{calculateMetabolicRate()}} AMR: {{amr}}</h5>
  </div>
  <div class="row">

  </div>


</main>
