<main class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h3>Date</h3>

      </div>
      <div class="row">
        <h3>search/sort?</h3>

      </div>
      <div class="row">
        <img src="https://farm8.staticflickr.com/7037/6802898136_932e900b5e_z.jpg"
        style="height:250px; width:350px" />

      </div>
    </div>
    <div class="col-sm-8">
      <p> Macros for the day, data on current goal, etc</p>
    </div>


  </div>
  <div class="row">
    <h1>Add meal div</h1>
  </div>
  <div class="row">

  </div>


</main>
