<main class="container-fluid">
  <div class="row">
    <div clas="col-sm-4"></div>
    <div clas="col-sm-4">
      <form name="login">
        <label for="username">Username: </label>
        <input type="text" name="username" [(ngModel)]="user.username"/>
        <label for="password">Password: </label>
        <input type="password" name="password" [(ngModel)]="user.password"/>
        <button (click)="login(user)">Login</button>
      </form>
    </div>
    <div clas="col-sm-4"></div>

  </div>

</main>
