<main class="container">

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 login">
      <form name="login"><br><br><br><br>
        <label for="username">Username: </label>
        <input class="col form-control" type="text" name="username" [(ngModel)]="user.username"/><br>
        <label for="password">Password: </label>
        <input class="col form-control" type="password" name="password" [(ngModel)]="user.password"/><br>
        <button class="col form-control" (click)="login(user)">Login</button>
      </form><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div clas="col-sm-4"></div>

  </div>

</main>
