<main class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h3>Simple nutrition for busy people!</h3>

      </div>
      <div class="row">
        <h3>Register HERE!</h3>

      </div>
      <div class="row">
        <img src="https://farm8.staticflickr.com/7037/6802898136_932e900b5e_z.jpg"
        style="height:250px; width:350px" />

      </div>
    </div>
    <div class="col-sm-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Expedita eaque optio quam eos, dolores est ea facere,
         modi ut perferendis amet ipsam officiis nam laborum excepturi laboriosam sit voluptas aspernatur.</p>
    </div>


  </div>
  <div class="row">

  </div>
  <div class="row">

  </div>


</main>

