<!-- <div class="row">
  <img src="https://farm8.staticflickr.com/7037/6802898136_932e900b5e_z.jpg"
  style="height:250px; width:350px" />

</div> -->
<main class="container-fluid">


    <div class="row-one row align-items-center justify-content-around">
      <div class="col-sm-6 first-row-blurb col">

        <h1 class="site-name">Nu-Track</h1>
        <h3><strong>Nutrition made simple</strong></h3>
        <h6>Track Calories, Post Recipes, View health articles, All in one central place.</h6>
        <a [routerLink]="['/register']"><button class="sign-up-button">Sign-Up - It's Free!</button></a>
        <p>Already have an account? <a [routerLink]="['/login']"><strong><u class="login-text">Log in.</u></strong></a></p>
      </div>
      <div class="col-sm-6 col">
        <img src="assets/images/FinalProjectLogo.png" class="logo"/><br>
      </div>
    </div>





  <div class="row-two row align-items-center justify-content-around">
    <div class="col-sm-6 col">
      <img src="assets/images/secondrowpic.png" class="logo"/><br>
    </div>
    <div class="col-sm-6 middle-row-blurb col">

      <h2>Log from over <strong>76,000</strong> foods.</h2>
      <h6>See a complete break down of calories and nutrients,<br> compare serving sizes,<br> and track your metrics to reach your goals.</h6>
    </div>
  </div>





<div class="row-three row  align-items-center justify-content-around">
  <div class="col-sm-6 first-row-blurb col">
    <h2>How we help you reach your goals</h2>
    <h6>Trying to lose weight? Tone up? <br>Lower your BMI? Or just improve your overall health? <br>We'll provide you with the tools to make sure you're successful.</h6>
  </div>
  <div class="col-sm-6 col">
    <img src="assets/images/thirdrowpic.png" class="logo"/><br>
  </div>
</div>
</main>

