<!-- <div class="row">
  <img src="https://farm8.staticflickr.com/7037/6802898136_932e900b5e_z.jpg"
  style="height:250px; width:350px" />

</div> -->
<main class="container-fluid">
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <h1 class="site-name">Nu-Track</h1>
        <h4><strong>Nutrition made simple</strong></h4>
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
  </div>


</main>

